.footer {
	padding: 75px 0;
	&__social {
		margin: 0;
		padding: 0;
		list-style-type: none;
		text-align: center;
		li {
			display: inline-block;
			margin: 0 15px;
		}
		a {
			font-size: 18px;
			font-weight: 300;
			color: rgba($gray, .7);
			text-transform: uppercase;
			letter-spacing: 1.7px;
			text-decoration: none;
			transition: color .2s ease-in-out;
			&:hover {
				color: $gray;
			}
		}
	}

	&__logo {
		text-align: center;
		margin: 55px 0;
		&-cr {
			font-size: 18px;
			font-weight: 300;
			color: rgba($gray, 0.7);
			margin: 0;
			margin-top: 15px;
		}
	}

	&__mnu {
		margin: 0;
		list-style-type: none;
		padding: 0;
		text-align: center;
		li {
			margin: 0 15px;
			display: inline-block;
		}

		a {
			font-size: 18px;
			color: rgba($gray, .7);
			font-family: $roboto;
			text-decoration: none;
			transition: color .2s ease-in-out;
			&:hover {
				color: $gray;
			}
		}
	}
}


@media only screen and (max-width: 768px) {
	.footer {
		padding: 30px 0;
		&__social {
			li {
				margin: 10px;
			}
			a {
				font-size: 12px;
			}
		}
		&__logo {
			margin: 30px 0;
		}
		&__mnu {
			li {
				margin: 5px;
			}
			a {
				font-size: 12px;
			}
		}
	}
}