/* 
	Header
 */

.header {
	position: fixed;
	top: 0;
	width: 100%;
	padding: 25px 0;
	z-index: 100;
	box-shadow: 0 0px 0px 0 rgba(211, 200, 200, 0.5);
	transition: background .2s ease-in-out,
				box-shadow .2s ease-in-out;
	&._scrolled {
		background: #fff;
		 box-shadow: 0 1px 32px 0 rgba(211, 200, 200, 0.5);
	}
	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__logo {
		max-width: 160px;
		width: 100%;
		img {
			width: 100%;
			height: auto;
			display: block;
		}
	}
}

.header-mnu {
	margin: 0;
	padding: 0;
	list-style-type: none;
	li {
		display: inline-block;
		vertical-align: middle;
		margin: 0 18px;
		&:last-child {
			margin-right: 0;
		}
	}
	a:not(.header-mnu__btn) {
		color: $gray;
		font-weight: 500;
		font-size: 16px;
		text-decoration: none;
		transition: color .2s ease-in-out;
		display: block;
		&:hover {
			color: $green;
		}
	}
	&__btn {
		font-size: 16px;
		font-weight: 500;
		color: #fff;
		background: $green;
		padding: 12px 30px;
		border-radius: 40px;
		display: inline-block;
		text-decoration: none;
		transition: background .2s ease-in-out;
		&:hover {
			background: darken($green, 20%);
		}
	}
}


 .mobile-toggle {
	 display: none;
	  width: 25px;
	  height: 17px;
	  cursor: pointer;
	  position: fixed;
	  z-index: 9999;

	  span {
	  	position: relative;
	  	display: block;
	  	top: 0;
	  	 width: 100%;
		  height: 2px;
		  background-color: $gray;
		  transition: all 0.3s;
		  backface-visibility: hidden;
		  border-radius: 2px;
		  margin-top: 8px;

	  	&:before,
	  	&:after {
	  		content: "";
			position: absolute;
			left: 0;
			top: -8px;
			 width: 100%;
			 height: 2px;
			 background-color: $gray;
			 transition: all 0.3s;
			 backface-visibility: hidden;
			 border-radius: 2px;


	  	}
	  	&:after {
	  		top: 8px;
	  	}
	  }

	  &.on {
	  	
	  	span {
	  		background-color: transparent;

	  		&:before {
	  			transform: rotate(45deg) translate(5px, 5px);
	  		}

	  		&:after {
	  			transform: rotate(-45deg) translate(6px, -6px);
	  		}
	  	}

	  }
}

.mobile-menu {
	position: fixed;
	z-index: 300;
	background: rgba(#fff, 0.9);
	width: 100%;
	height: 100%;
	padding: 50px 30px;
	padding-top: 120px;
	display: none;
	&__items {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	&__item {
		display: block;
		margin: 30px 0;
	}
	a {
		font-size: 40px;
		color: $gray;
		font-weight: 500;
		text-decoration: none;
		display: block;
	}
}

@media only screen and (max-width: 992px) {
	.mobile-toggle {
		display: block;
		top: 36px;
		left: 15px;
	}
	.mobile-menu {
		
	}
	.header {
		&__logo {
			max-width: 140px;
			margin-right: auto;
			margin-left: 45px;
		}
	}

	.header-mnu {
		li:not(.has-button) {
			display: none;
		}

	}
}

@media only screen and (max-width: 768px) {
	.header {
		&__logo {
			max-width: 110px;
		}
	}
	.header-mnu {
		&__btn {
			font-size: 14px;
			padding: 10px 20px;
		}
	}

	.mobile-menu {
		padding-top: 90px;
		&__item {
			a {
				font-size: 30px;
			}
		}
	}
}


@media only screen and (max-width: 480px) {
	.header {
		padding: 15px 0;
		&__logo {
			margin-left: 40px;
			max-width: 100px;
		}
	}
	.header-mnu {
		&__btn {
			font-size: 12px;
			padding: 10px 20px;
		}
	}
	.mobile-toggle {
		top: 23px;
	}
	.mobile-menu {
		padding: 0 15px;
		width: 100%;
		box-sizing: border-box;
		padding-top: 60px;
		&__item {
			margin: 30px 0;
			a {
				font-size: 35px;
			}
		}
	}
}