/* 
	Hero
 */

 .hero {
	min-height: 100vh;
	height: auto;
	background: url(../img/hero.jpg) no-repeat center bottom;
	background-size: cover;
	padding: 100px 0;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	&__title {
		font-size: 72px;
		line-height: 1.2;
		color: $gray;
		font-weight: 500;
		margin: 0;
	}
	&__description {
		font-size: 22px;
		font-weight: 300;
		letter-spacing: .8px;
		line-height: 1.86;
		color: $gray;
		max-width: 600px;
		margin: 25px 0;
		b {
			font-weight: 500;
		}
	}

	&__anchor {
		width: 50px;
		height: 50px;
		border: 2px solid $green;
		border-radius: 100%;
		background: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
		bottom: 30px;
		img {
			display: block;
			transition: margin .3s ease-in-out;
		}
		&:hover {
			img {
				margin-top: 8px;
			}
		}
	}
 }


@media only screen and (max-width: 992px) {
	.hero {
		&__title {
			font-size: 50px;
		}
		&__description {
			font-size: 18px;
			margin: 20px 0;
		}
	}
}

@media only screen and (max-width: 768px) {
	.hero {
		&__title {
			font-size: 23px;
		}
		&__description {
			font-size: 16px;
			margin: 15px 0;
		}
	}
}