/* 
	Base styles
 */

 body {
 	font-family: $font;
 }

 .container {
 	max-width: 1200px;
 	width: 100%;
 	padding: 0 15px;
 	box-sizing: border-box;
 	margin: 0 auto;
 }

 .btn {
 	font-size: 20px;
 	padding: 15px 32px;
 	box-sizing: border-box;
 	border-radius: 40px;
 	color: #fff;
 	background: $green;
 	text-decoration: none;
 	border: 2px solid $green;
 	transition: background .2s ease-in-out,
 				border-color .2s ease-in-out;
 	display: inline-block;
 	&:hover {
 		background: #34bd7f;
 		border-color: #34bd7f;
 	}
 	&_green-border {
 		background: transparent;
 		color: $gray;
 		&:hover {
 			color: #fff;
 		}
 	}
 	&_white-bg {
 		background: #fff;
 		color: $gray;
 		&:hover {
 			color: #fff;
 		}
 	}
 }

@media only screen and (max-width: 768px) {
	.btn {
		font-size: 15px;
	}
}