.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-expand-lg {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-expand-sm {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-phone {
	font-size:(50/10)*1rem;
	width:(50/50)*1em;
}
.icon-star {
	font-size:(48/10)*1rem;
	width:(48/48)*1em;
}
