.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrows {
	font-size:(270/10)*1rem;
	width:(886/270)*1em;
}
.icon-canada {
	font-size:(270/10)*1rem;
	width:(886/270)*1em;
}
.icon-icons {
	font-size:(270/10)*1rem;
	width:(886/270)*1em;
}
.icon-tickers {
	font-size:(270/10)*1rem;
	width:(886/270)*1em;
}
