/* 
	Banners
 */

 .feed-blocks-banners {
 	&__item {
 		display: block;
 		min-height: 400px;
 		background-size: cover;
 		background-position: center center;
 		padding: 50px 0;
 		display: flex;
 		flex-direction: column;
 		justify-content: center;
 	}
 	&__category {
 		font-size: 14px;
 		letter-spacing: .4px;
 		color: $gray;
 		text-transform: uppercase;
 		margin: 0;
 	}
 	&__title {
 		font-size: 64px;
 		line-height: 1.28;
 		color: $gray;
 		font-weight: 500;
 		margin: 0;
 		margin: 10px 0 35px 0;
 	}
 }


 @media only screen and (max-width: 992px) {
	.feed-blocks-banners {
		&__item {
			min-height: 300px;
		}
		&__title {
			font-size: 40px;
		}
	}
 }

  @media only screen and (max-width: 768px) {
	.feed-blocks-banners {
		.container {
			width: 80%;
		}
		&__item {
			min-height: 250px;
			box-sizing: border-box;
		}
		&__title {
			font-size: 20px;
		}
		&__category {
			font-size: 12px;
		}
	}
 }