/* 
	Features
 */

 .features-blocks {
 	.container {
 		max-width: 1000px;
 	}
 	&__item {
 		display: flex;
 		align-items: center;
 		justify-content: space-between;
 		margin: 130px 0;
 		&:nth-child(2n+2) {
 			.features-blocks__img {
 				order: 1;
 			}
 			.features-blocks__txt {
 				padding-left: 30px;
 			}
 		}
 	}

 	&__txt {
 		width: 67%;
 		padding: 0 70px;
 		box-sizing: border-box;
 	}

 	&__img {
 		width: 33%;
		img {
			max-width: 85%;
			width: 100%;
			height: auto;
			display: block;
		}
 	}

 	&__title {
		font-size: 36px;
 		color: $gray;
 		font-weight: 500;
 		line-height: 1.36;
 		margin: 0;
 	}
 	&__description {
 		font-family: $roboto;
 		font-weight: 300;
 		font-size: 18px;
 		line-height: 2;
 		color: $gray;
 		margin-top: 26px;
 	}
 }

 @media only screen and (max-width: 992px) {
	.features-blocks {
		&__item {
			display: block;
			margin: 0;
			margin-bottom: 70px;
			&:first-child {
				margin-top: 50px;
			}
		}
		&__img {
			width: 100%;
			max-width: 100%;
			img {
				max-width: 200px;
				display: block;
				margin: 0 auto;
			}
		}
		&__txt {
			width: 100%;
			text-align: center;
			margin-top: 20px;
		}
		&__title {
			font-size: 25px;
		}
		&__description {
			font-size: 16px;
			margin: 0;
			margin-top: 20px;
		}
	}
 }

 @media only screen and (max-width: 768px) {
	.features-blocks {
		&__item {
			margin-bottom: 55px;
		}
		&__img {
			img {
				max-width: 155px;
			}
		}
		&__txt {
			margin-top: 15px;
			padding: 0 20px;
		}
		&__title {
			font-size: 20px;
		}
		&__description {
			font-size: 14px;
			margin-top: 15px;
		}
	}
 }