/* 
	Feed blocks
 */

 .feed-blocks {
 	&__wrap {
 		display: flex;
 		justify-content: space-between;
 		padding: 60px 0;
 	}

 	&__item {
 		width: calc(33.3% - 60px);
 		border-bottom: 2px solid $green;
 		padding-bottom: 30px;
 		margin: 20px 0;
 		text-decoration: none;
 		&:nth-child(2n+2) {
 			border-bottom: 4px solid $green;
 		}
 		&:hover {
 			.feed-blocks__title {
 				color: $green;
 			}
 		}
 	}

 	&__category {
 		color: $gray;
 		font-size: 14px;
 		letter-spacing: .8px;
 		text-transform: uppercase;
 	}
 	&__title {
 		font-size: 24px;
 		font-family: $rubik;
 		font-weight: 500;
 		max-width: 250px;
 		margin: 0;
 		margin-top: 12px;
 		color: $gray;
 		transition: color .2s ease-in-out;
 	}
 }

  @media only screen and (max-width: 992px) {
	.feed-blocks {
		&__item {
			width: calc(33.3% - 25px);
		}
		&__title {
			font-size: 20px;
		}
	}
 }

 @media only screen and (max-width: 768px) {
	.feed-blocks {
		display: none;
	}
 }