<header class="header">
	
	<div class="container">
		
		<a href="#" class="custom-logo-link">
			<img src="img/logo.png" alt="">
		</a>

		<ul class="header_mnu">
			<li><a href="#">Job Categories</a></li>
			<li><a href="#">Clients</a></li>
			<li><a href="#">Candidates</a></li>
			<li><a href="#">About us</a></li>
			<li><a href="#">Team</a></li>
			<li><a href="#">Contact Us</a></li>
		</ul>

		<div class="mobile-toggle">
	        <span class="mobile-toggle-icn"></span>
	     </div>

	</div>

</header>