	<!--[if lt IE 9]>
	<script src="libs/html5shiv/es5-shim.min.js"></script>
	<script src="libs/html5shiv/html5shiv.min.js"></script>
	<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
	<script src="libs/respond/respond.min.js"></script>
	<![endif]-->

	<script src="libs/jquery/jquery-1.12.0.min.js"></script>
	<script src="libs/plugins-scroll/plugins-scroll.js"></script>
	<script src="libs/slick/slick.min.js"></script>
	<script src="js/common.js"></script>